/* .btn {
  height: 100px;
  width: 300px;
  background-color: black;
  color: white;
  border-radius: 2px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
} */
/* .card {
  height: 400px;
  width: 300px;
  background-color: skyblue;
  margin: 10px;
  display: inline-block;
}

.card img {
  height: 200px;
  width: 200px;
  padding-left: 50px;
  margin-top: 15px;
}
.card p {
  text-align: center;
} */
body {
  background-color: rgb(226, 246, 197);
  margin-left: 500px;
  margin-top: 100px;
}
.loginContainer {
  background-color: white;
  height: 250px;
  width: 400px;
  padding: 50px;
  border-radius: 25px;
  box-shadow: 2px 2px 1px gray;
  h1 {
    text-align: center;
    position: relative;
    bottom: 50px;
    color: red;
  }
}
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  bottom: 50px;
  .email {
    input {
      height: 30px;
      width: 370px;
      margin-bottom: 20px;
    }
  }
  .Password {
    input {
      height: 30px;
      width: 370px;
      margin-bottom: 20px;
    }
  }
  .btn {
    button {
      height: 30px;
      width: 375px;
      color: rgb(76, 76, 244);
      border: 1px solid rgb(39, 39, 246);
      font-size: 1rem;
      font-weight: bold;
    }
    button:hover {
      background-color: rgb(39, 39, 246);
      color: white;
    }
  }
  a {
    position: relative;
    top: 20px;
  }
}
.signUpContainer {
  background-color: white;
  height: 400px;
  width: 400px;
  padding: 50px;
  border-radius: 25px;
  box-shadow: 2px 2px 1px gray;
  h1 {
    text-align: center;
    position: relative;
    bottom: 50px;
    color: red;
  }
}
.fName,
.lName {
  input {
    height: 30px;
    width: 370px;
    margin-bottom: 20px;
  }
}
